version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    restart: unless-stopped

  web:
    build:
      context: ..
      dockerfile: deployment/Dockerfile
    command: >
      bash -c "python manage.py migrate --settings=deployment.production_settings &&
               gunicorn jobsearch.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - ../:/app/
      - static_volume:/app/deployment/static
      - media_volume:/app/deployment/media
    env_file:
      - ./.env
    depends_on:
      - db
    restart: unless-stopped

  nginx:
    image: nginx:latest
    volumes:
      - static_volume:/app/deployment/static
      - media_volume:/app/deployment/media
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

volumes:
  postgres_data:
  static_volume:
  media_volume:
