body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGNhbG18ZW58MHx8fHwxNjM4NjA4MTUy&ixlib=rb-1.2.1&q=80&w=1080') no-repeat center center/cover;    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    border-radius: 10px;
}

.image-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.basic-information h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.basic-information h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #806b99;
}

.basic-information p {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-links a {
    color: #000;
    font-size: 2em;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #0056b3;
}

.contact a {
    display: inline-block;
    background-color: #320466;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.contact a:hover {
    background-color: #0056b3;
}
